*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header{
    background-color: aqua;
    padding: 16px 0;
    color: black;
}
header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    margin-left: 10px;
}
header li a{
    color:white;
    text-decoration: none;
}
.conteiner{
    width: 1366px;
    margin: 0 auto;  
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    /*height: 180px;*/
    width: 100%;
}
.articles article{
    width: 30%;
}
section {
    padding: 16px 0;
}
.articles article a{
    background-color: #009432;
    color:aliceblue;
    padding: 5px;
    display: inline-block;
    border-radius: 2%;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}
.articles article a:hover{
    text-decoration: underline;
    background-color: rgb(44, 141, 215);
}
.articles article h2{
    margin-bottom: 10px;
    margin-top: 10px;

}
.articles article p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h2{
    font-size: 24px;
}
body {
    background-color: rgba(0, 255, 0, 0.1);
}
