*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header nav{
    display: inline;
}
.conteiner{
    width: 1366px;
    margin: 0 auto;  
}
h1{
    color: aqua;
}
#op {
    background-color: bisque;
}
